# comment_added.html.erb

<p>Hey There!</p>
<p>
  Congrats! <b>A comment has been added to one of your places on Nomster.</b>
  Head over to https://nomster-liz-gehret.herokuapp.com/ to check it out!
</p>

Cheers,<br />
Liz